* {
    /* border: solid red 1px; */
}

.header,
.right-links,
ul,
.header-body,
body,
.footer,
.header-body-image,
.header-container,
.header-body-header,
.header-body-summary,
.sign-up-button-container,
.card-block,
.card-container,
.card,
.card-description,
.quote-body,
.quote-container,
.blue-box,
.left-side,
.call-to-action-box,
.call-to-action,
.call-to-action-secondary,
.call-to-action-signup-button,
.action-body {
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    justify-content: space-between;
}

.header-body {
    padding: 0 200px 0;
    justify-content: space-between;
}

.header-container {
    flex-direction: column;
    flex: 1 0 50%;
    align-self: center;
    gap: 12px;
    min-width: 354px;
}

.header-body-image {
    flex-grow: 1 0 50%;
 }

.header-body-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-body-summary {
    margin-right: 200px;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 25px 4px;
    font-weight: 200;
}

ul {
    list-style-type: none;
    gap: 15px;
}

.header {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.right-links {
    flex: 1;
    justify-content: flex-end;
    margin-right: 140px;
}

.title {
    align-self: center;
    flex: 1;
    margin-left: 200px;
}


.header,
.footer,
.header-body {
    background-color: #1f2937;
}

.title,
.header-body-header {
    color: #f9faf8;
    font-size: 24px;
}


.header-body-summary {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

body {
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: auto;
    padding: 40px;
    justify-content: center;
}

img {
    height: 300px;
    width: 800px;
    padding: 100px 0 100px 0;
}

.card-block {
    flex-direction: column;
    padding-bottom: 75px;
    flex: 1;
}

.body-title {
    align-self: center;
    margin: 30px 0 30px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-container {
    align-self: center;
    gap: 60px;
}

.card {
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.blue-box {
    height: 125px;
    width: 125px;
    border: solid #3882f6 3px;
    border-radius: 7px;
}

.card-description {
    text-align: center;
    width: 125px;
    font-weight: 18px;
    color: #52555c;
    padding-top: 5px;
}

.quote-body {
    background-color: #e5e7eb;
}

.quote-container {
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin: 60px 500px;
}

.quote {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    margin: 0;
}

.quote-signature {
    color: #1f2937;
    font-size: 24px;
    margin: 0;
    align-self: flex-end;
} 

.action-body {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 80px 300px;
}

.call-to-action-box {
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    background-color: #3882f6;
    min-width: 288px;
    padding: 20px 200px;
}

.left-side {
    box-sizing: border-box;
    flex-direction: column;
    flex: 1 1;
    min-width: 150px;
}

.call-to-action {
    color: #f9faf8;
    font-size: 24px;
}

.call-to-action-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.call-to-action-signup-button {
    flex: 1;    
    align-self: center;
    justify-content: flex-end;
    
}

.signup-button-two {
    background-color: #3882f6;
    border: solid #f9faf8 2px;
    color: #f9faf8;
    border-radius: 6px;
    font-size: 24px;
    min-width: none;
    padding: 0px;
    height: 40px;
    width: 175px;
}